body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #99bdce;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}
/* Navigation bar styles */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}


.welcome {
    background-color: #c62f2f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

/* Table specific styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #3644e6;
    color: #fff;
}

tbody {
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect */
tbody tr:hover {
    background-color: #e0e0e0;
}


form h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3644e6;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #b677e3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

form button[type="reset"] {
    background-color: #999;
    margin-left: 10px;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
